# Technical writers
doc                                                           @tbco devs Robert Mourey Jr
README.*                                                      @tbco devs Robert Mourey Jr
bcc-cli/README.md                                            @tbco devs Robert Mourey Jr

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       TBD

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @tbco devs Robert Mourey Jr
bench                                                         @tbco devs Robert Mourey Jr
nix/workbench                                                 @tbco devs Robert Mourey Jr
nix/supervisord-cluster                                       @tbco devs Robert Mourey Jr
trace-forward                                                 @tbco devs Robert Mourey Jr
Makefile                                                      @tbco devs Robert Mourey Jr

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
bcc-node/src/Bcc/Tracing/OrphanInstances/Network.hs   @devops @coot @karknu
bcc-node/src/Bcc/Node/Configuration/Logging.hs        @devops
bcc-node/src/Bcc/Node/Configuration/Socket.hs         @devops
bcc-node/src/Bcc/Node/Run.hs                          @devops
